/* accordion */

#breakfastSelection input {
	 position: absolute;
	 opacity: 0;
	 z-index: -1;
}
 #breakfastSelection .row {
	 display: flex;
}
 #breakfastSelection .row .col {
	 flex: 1;
}
 #breakfastSelection .row .col:last-child {
	 margin-left: 1em;
}
/* Accordion styles */
 #breakfastSelection .tabs {
	 border-radius: 8px;
	 overflow: hidden;
	 box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
 #breakfastSelection .tab {
	 width: 100%;
	 color: white;
	 overflow: hidden;
}
 #breakfastSelection .tab-label {
	 display: flex;
	 justify-content: space-between;
	 padding: 1em;
	 background: #1e261d;
	 font-weight: bold;
	 cursor: pointer;
	/* Icon */
}
 #breakfastSelection .tab-label:hover {
	 background: #070907;
}
 #breakfastSelection .tab-label::after {
	 content: "\276F";
	 width: 1em;
	 height: 1em;
	 text-align: center;
	 transition: all 0.35s;
}
 #breakfastSelection .tab-content {
	 max-height: 0;
	 padding: 0 1em;
	 color: #1e261d;
	 background: white;
	 transition: all 0.35s;
}
 #breakfastSelection .tab-close {
	 display: flex;
	 justify-content: flex-end;
	 padding: 1em;
	 font-size: 0.75em;
	 background: #1e261d;
	 cursor: pointer;
}
 #breakfastSelection .tab-close:hover {
	 background: #070907;
}
 #breakfastSelection input:checked + .tab-label {
	 background: #070907;
}
 #breakfastSelection input:checked + .tab-label::after {
	 transform: rotate(90deg);
}
 #breakfastSelection input:checked ~ .tab-content {
	 max-height: 100vh;
	 padding: 1em;
}

/* The container */
 #breakfastSelection .container {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
 #breakfastSelection .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
 #breakfastSelection .checkmark {
  position: absolute;
  top: 0;
	margin-left: 10px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
 #breakfastSelection .container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
 #breakfastSelection .container input:checked ~ .checkmark {
  background-color: #1E261D;
}

/* Create the checkmark/indicator (hidden when not checked) */
 #breakfastSelection .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
 #breakfastSelection .container input:checked ~ .checkmark:after {
  display: inline;
}

/* Style the checkmark/indicator */
 #breakfastSelection .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
